@model RoleDetailsViewModel

<table class="table my-table">
    <thead>
        <tr>
            <th>
                User
            </th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Users)
        {
            <tr class="table-item js-item fs-14 @(Model.UserIds.Contains(item.Id) ? "item-selected" : "")">
                <td>
                    <div class="item-checkbox">
                        <input class="form-check-input" type="checkbox" name="UserIds" value="@item.Id" 
                            @(Model.UserIds.Contains(item.Id) ? "checked" : "") id="role_@item.Id" />
                    </div>
                    <div class="">@item.UserName</div>
                </td>
                <td>@item.Email</td>
            </tr>
        }
    </tbody>
</table>

<script src="~/js/table/table.js"></script>