@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

<div class="page-header">
    <h4>Groups</h4>
    <div class="header-side">
        <a asp-action="Create" class="btn btn-primary" >Create group</a>
    </div>
</div>

<table class="table my-table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="table-item js-item">
                <td>
                    <div class="item-checkbox">
                        <input class="form-check-input" type="checkbox" name="RoleIds" value="@item.Id" 
                            id="role_@item.Id" />
                    </div>
                    <div class="name">@Html.DisplayFor(modelItem => item.Name)</div> 
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script src="~/js/table/table.js"></script>
