@model ClientDetailsViewModel

<table class="table my-table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Roles)
        {
            <tr class="table-item js-item fs-14 @(Model.RoleIds.Contains(item.Id) ? "item-selected" : "")">
                <td>
                    <div class="item-checkbox">
                        <input class="form-check-input" type="checkbox" name="RoleIds" value="@item.Id" 
                            @(Model.RoleIds.Contains(item.Id) ? "checked" : "") id="role_@item.Id" />
                    </div>
                    <div class="">@item.Name</div>
                </td>
                <td>@item.Description</td>
            </tr>
        }
    </tbody>
</table>

<script src="~/js/table/table.js"></script>
